@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

.Logo {
  font-size: 2.5em;
  line-height: 1;
}

.Footer-name {
  font-size: 1.25em;
  line-height: 1;
}

/**
 * Override Tailwind Typography Img styles
 */
.Blogpost-banner img {
  margin-top: 0;
  margin-bottom: 0;
}
